<div class="home__container">
  <app-card
    gameCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgvcWkHxiTr5VwMDZtXgGI9dm8w0g4oS5n1JliZe2GTlhlLxGvBjrMLFA3ptDZyWAOtWo&usqp=CAU"
    gameLabel="50% OFF"
    gameType="Digital PS5"
    gamePrice="R$ 99,90"
  ></app-card>

  <app-card
    gameCover="https://www.gameinformer.com/sites/default/files/2023/05/16/c0a4e053/356.jpg"
    gameLabel="Lançamento!"
    gameType="Digital PS5"
    gamePrice="R$ 249,99"
  ></app-card>

  <app-card
    gameCover="https://nerdiertides.files.wordpress.com/2016/07/watch-dogs-ubisoft-cover-art.jpg"
    gameLabel="Melhor do Ano"
    gameType="Digital PS3"
    gamePrice="R$ 90,00"
  ></app-card>

  <app-card
    gameCover="https://media.gq.com/photos/5de828b9ac31250008d31910/master/w_1600%2Cc_limit/11-the-best-video-games-of-2019-gq-december-120519.jpg"
    gameLabel="Exclusivo"
    gameType="Digital PS3"
    gamePrice="R$ 90,00"
  ></app-card>
</div>
